<div class="sidebar-wrapper">
  <div class="logo">
    <a href="javascript:void(0)" class="simple-text logo-mini">
      TT
    </a>
    <a href="javascript:void(0)" class="simple-text logo-normal">
      Toucan Testing
    </a>
  </div>
  <ul class="nav">
    <li class="active">
      <a href="../examples/dashboard.html">
        <i class="tim-icons icon-chart-pie-36"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li>
      <a data-toggle="collapse" href="#pagesExamples">
        <i class="tim-icons icon-image-02"></i>
        <p>
          Testing
          <b class="caret"></b>
        </p>
      </a>
      <div class="collapse" id="pagesExamples">
        <ul class="nav">
          <li>
            <a href="../examples/pages/pricing.html">
              <span class="sidebar-mini-icon">S</span>
              <span class="sidebar-normal"> Suites </span>
            </a>
          </li>
          <li>
            <a href="../examples/pages/rtl.html">
              <span class="sidebar-mini-icon">R</span>
              <span class="sidebar-normal"> Runs </span>
            </a>
          </li>
          <li>
            <a href="../examples/pages/timeline.html">
              <span class="sidebar-mini-icon">T</span>
              <span class="sidebar-normal"> Issues </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>